<div class="dodai">
  <div class="touko">
    <h2 class="top_title">みんなの投稿</h2>
    <% @essays.each_with_index do |essay, i| %>
    <div id="tou<%= i+1 %>">
    <a href="/essays/<%= essay.id %>?page=1">
      <div class="moji">
        <% if essay.user.image.present? %>
          <%= image_tag(url_for(:controller => 'users', :action => 'image', :id => essay.user.id), :size => '80x80',:class => 'tou_ti')%>
        <% else %>
          <%= image_tag '/images/sample_image.png', :size => '30x30' %>
        <% end %>
        <p class="inti"><%= essay.title.slice(0,9) %></p>
        <p class="inbu_tou1"><%= essay.text.slice(0,30) %></p>
      </div>
    </a>
    </div>
    <% end %>
  </div>
  <div class="tokusyu">
    <h2 class="top_title">特集</h2>
    <div class="toku">
      <% @posts.limit(3).each_with_index do |post, i| %>
      <div id="toku_<%= i+1 %>">
        <a href="/essays/<%= post.id%>?page=1">
          <p class="inti"><%= post.title.slice(0,9) %></p>
          <p class="inbu_toku<%= i+1%>">
          <%= image_tag(url_for(:controller => 'essays',:action => 'get_image', :id => @posts_img[i]), :class => "topic"+(i+1).to_s) %>
          <%= post.text.slice(0, 30) %>
          </p>
        </a>
      </div>
      <% end %>
    </div>
  </div>
  <div id="osukiji">
    <h2 class="top_title">おすすめ記事</h2>
    <% @recommends.each do |recommend| %>
      <div class="osusume">
        <a href="/essays/<%= recommend.id%>?page=1">
          <div class="mi_ti">
            <% if recommend.user.image.present? %>
              <%= image_tag(url_for(:controller => 'users',:action => 'image', :id => recommend.user.id), :height => '150',:class => "osuicon")%>
            <% else %>
              <%= image_tag '/images/sample_image.png', :size => '30x30' %>
            <% end %>
            <p class="mina_ti"><%= recommend.title %></p>
          </div>
          <p class="inbu_osu">
            <%= recommend.text %>
          </p>
        </a>
      </div>
    <% end %>
  </div>
</div>
<div class="clear"></div>
