<h1>Top Page</h1>
<h2>みんなの記事</h2>
<% @essays.each do |essay| %>
  <p>タイトル：<%= essay.title %><br/>
  	内容：<%= essay.text %><br/>
  	作成者：<%= essay.user.name %>
  </p>
<% end %>

<h2>特集</h2>
<% @pickUps.each do |pickup| %>
  <p><%= pickup.title %> <%= pickup.text %></p>
<% end %>

<h2>つぶやき</h2>
<% @posts.each do |post| %>
  <p><%= post.content %></p>
<% end %>

