<%= form_for @user_session, url: user_session_path do |f| %>
  <fieldset>
    <legend>Login</legend>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </p>
    <%= f.submit "Login", class: "btn btn-primary" %>
  </fieldset>
<% end %>