
<%= render "imageform", form: form %>


<table class="attr">
  <tr>
    <th><%= form.label :name %></th>
    <td><%= form.text_field :name %></td>
  </tr>

  <%= form.fields_for :image do |imgf| %>
    <tr>
      <th><%= imgf.label "画像変更" %></th>
      <td>
        <%= imgf.file_field :uploaded_image %>
      </td>
    </tr>
  <% end %>

</table>
