
<p>画像の編集</p>
<p><%= link_to "マイページに戻る", mypages_path %></p>

  <%= form_for @user do |form| %>

  <table class="attr">
    <tr>
      <th><%= form.label :name %></th>
      <td><%= form.text_field :name %></td>
    </tr>
      <tr>
        <th><%= form.label :uploaded_image %></th>
        multipart
        <td>
          <%= user_image_tag @user, size: "100" %>
          <%= form.file_field :uploaded_image %>
        </td>
      </tr>

  </table>
  <p><%= form.submit %></p>

<% end %>
