<%= form_for @user, url: users_path, html: { multipart: true } do |form| %>

  <fieldset>
    <legend>Sign up</legend>
    <p>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </p>
    <p>性別
      <%= form.radio_button :gender, 0 %>
      <%= form.label :gender_0, "男" %>
      <%= form.radio_button :gender, 1 %>
      <%= form.label :gender_1, "女" %>
    </p>
    <p>職種
      <%= form.radio_button :gender, 0 %>
      <%= form.label :gender_0, "学生/専門学生" %>
      <%= form.radio_button :gender, 1 %>
      <%= form.label :gender_1, "社会人" %>
      <%= form.radio_button :gender, 2 %>
      <%= form.label :gender_2, "その他" %>
    </p>
    <p>
      <%= form.label :password %>
      <%= form.password_field :password %>
    </p>
    <p>
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation %>
    </p>

<% if false %>
    <p>
    <%= form.fields_for :image do |imgf| %>
        <%= imgf.label :uploaded_image %>
        <%= imgf.file_field :uploaded_image %>
    <% end %>
    </p>

    <label for="image">プロフィール画像アップロード</label>
    <%= file_field_tag 'image' %>
<% end %>

    <%= form.submit "sign up", class: "btn btn-primary" %>
  </fieldset>
<% end %>
