<div class="dodai">
  <div class="yohaku">
    <div id="my">
      <h2 class="top_title">マイページ</h2>
      <div id="myicon_waku" class="myicon">
        <% if current_user.image.present? %>
          <%= user_image_tag @user, size: "150" %>
        <% else %>
          <%= image_tag '/images/sample_image.png', :size => '150x150' %>
        <% end %>
      </div>
      <div id="prof_waku">
        <table class="prof">
          <tr>
            <th>名前</th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th>性別</th>
            <td><%= @user.gender == 0 ? "男性" : "女性" %></td>
          </tr>
          <tr>
            <th>職種</th>
            <td>
              <% case @user.business
                when 0 %>
                  学生/専門学生
              <% when 1 %>
                社会人
              <%when 2%>
                その他
              <%end%>
            </td>
          </tr>
          <tr>
            <th>環境</th>
            <td><%= @tag[0].place %></td>
          </tr>
          <tr>
            <th>[孝行相手]父親</th>
            <td><%= @tag[0].fage %></td>
          </tr>
          <tr>
            <th>[孝行相手]母親</th>
            <td><%= @tag[0].mage %></td>
          </tr>
        </table>
      <div id="pass">
        <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>
