<h2>マイページ</h2>

<% @essays.each do |essay| %>
  <p>タイトル：<%= essay.title %></p>
  <p>内容：<%= essay.text %>
  	 <%= link_to "詳細", essay %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th>氏名</th>
      <th>画像</th>

    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= link_to @user.name, user_path(@user) %></td>

        <%#= user_image_tag @user, width: 96 %>
        <% @image.each do |image| %>
            <%#= image_tag(url_for :action => get_user_image, :id => image.id)%>
            <td><%= image_tag(url_for(:action => 'get_user_image', :id => image.id), :size => '100x100')%></td>
        <% end %>
      </tr>
</tbody>
</table>

  <p><%= link_to "画像の編集", edit_user_path(@user) %></p>

  <p><%= link_to "パスワードの再設定", editpass_user_path(@user) %></p>
