<h2>マイページ</h2>

<% @essays.each do |essay| %>
  <p>タイトル：<%= essay.title %></p>
  <p>内容：<%= essay.text %>
  	 <%= link_to "詳細", essay %>
  </p>
<% end %>

  <p><%= link_to "画像の編集", "#" %></p>
  <p><%= link_to "パスワードの再設定", "#" %></p>

