<div class="dodai">
  <div class="yohaku">
  	<div id="favoto">

      <h2 class="top_title">お気に入り</h2>
      <% @essaylist.each_with_index do |listItem, i| %>
        <% if listItem.pickup_f == false %>
          <div class="danwake">
            <a href="/essays/<%= listItem.id %>">
              <div class="tou_ti">
              <% if listItem.user.image.present? %>
                <%= image_tag(url_for(:controller => 'users', :action => 'image', :id => listItem.user.id), :size => '80x80',:class => 'tou_ti')%>
              <% else %>
                <%= image_tag '/images/sample_image.png', :size => '30x30' %>
              <% end %>
            </div>
              <p class="mina_ti"><%= listItem.title %></p>
              <p class="mytoko"><%= listItem.text.slice(0, 233) + "..."%></p>
    					<div class="totawa">
                <% @essay_tags[i].each do |tag| %>
                  <div class="tota"><%= tag.name %></div>
                <% end %>
              </div>
            </a>
          </div>
        <% end %>
      <% end %>


      <% @essaylist.each_with_index do |listItem, i| %>
        <% if listItem.pickup_f == true %>
          <div class="danwake">
            <a href="/essays/<%= listItem.id %>">
              <% if listItem.user.image.present? %>
                <%= image_tag(url_for(:controller => 'users', :action => 'image', :id => listItem.user.id), :size => '80x80',:class => 'tou_ti')%>
              <% else %>
                <%= image_tag '/images/sample_image.png', :size => '30x30', :class => 'tou_ti' %>
              <% end %>
              <p class="mina_ti"><%= listItem.title %></p>
              <div class="toko_p">
                <%= image_tag(url_for(:controller => 'essays',:action => 'get_image', :id => @pickup_img[i])) %>
              </div>
              <p class="mytoko2"><%= listItem.text.slice(0, 233) + "..."%></p>

              <div class="totawa">
                <% @essay_tags[i].each do |tag| %>
                  <div class="tota"><%= tag.name %></div>
                <% end %>
              </div>
            </a>
            </div>
          <% end %>
        <% end %>

    </div>
  </div>
</div>
  <div class="clear"></div>
