<footer>
  <ul>
    <li><%= link_to "ヘルプ", "#" %></li>
    <li><%= link_to "サイトについて", about_path %></li>
    <li><%= link_to "みんなの投稿", essays_path %></li>
    <li><%= link_to "みんなの質問", question_essays_path %></li>
    <li><%= link_to "特集", pickup_essays_path %></li>
  </ul>
  <div class="clear"></div>
  <p id="copy">
    &copy; Copyright  by YamashitaPROJECT2015
  </p>
</footer>
<%= javascript_include_tag "addjs/ryota.js" %>