<footer class="page-footer">
  <div class="container">
  <div class="row">
              <div class="col l2 s12">
                <ul>
                    <li><%= link_to "ヘルプ", help_path, class: "grey-text text-lighten-3" %></li>
                    <li><%= link_to "サイトについて", about_path, class: "grey-text text-lighten-3" %></li>
                    <li><%= link_to "みんなの投稿", essays_path, class: "grey-text text-lighten-3" %></li>
                    <li><%= link_to "みんなの質問", question_essays_path, class: "grey-text text-lighten-3" %></li>
                    <li><%= link_to "特集", pickup_essays_path, class: "grey-text text-lighten-3" %></li>
                  </ul>
              </div>
            </div>
  </div>
    <div class="footer-copyright">
    <div class="container">
    &copy; Copyright  by ryt
    </div>
    </div>
</footer>
<%= javascript_include_tag "addjs/ryota.js" %>