    <header>
      <img src="/images/title_test.png" width="220" class="logo">
    </header>
    <nav>
      <ul>
        <li><%= link_to "TOP", root_path %></li>
        <li><%= link_to "サイトについて", about_path %></li>
        <li><%= link_to "みんなの投稿", essays_path %></li>
        <li><%= link_to "みんなの質問", question_essays_path %></li>
        <li><%= link_to "特集", pickup_essays_path %></li>
      </ul>
      <div class="search">
        <div id="search_in">
        <%= form_tag('essays/search') do %>
          <%= text_field_tag 'keyword', "", placeholder: "キーワードを入力"  %>
          <%= submit_tag "検索" %>
        <% end %>
        </div>
      </div>
      <div class="clear">
      </div>
    </nav>
