<div class="sub">
  <div class="name">投稿管理</div>
<% if logged_in? %>

  <ul>
    <li><%= link_to "記事投稿", new_essay_path %></li>
    <li><%= link_to "自分の投稿", my_essay_mypages_path %></li>
    <li><%= link_to "お気に入り", my_list_mypages_path %></li>
  </ul>
    <div class="name">アカウント</div>
  <ul>
  <li><%= link_to "マイページ", mypages_path %></li>
  <li><%= link_to "ログアウト", logout_path, method: :delete %></li>

  </ul>
  <div class="clear"></div>


<% else %>
  <%= form_for UserSession.new, url: user_session_path do |f| %>
  <fieldset>
    <legend>Login</legend>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </p>
    <%= f.submit "Login", class: "btn btn-primary" %>
  </fieldset>
<% end %>
  <%= link_to "新規登録", signup_path %>
<% end %>

<div class="clear"></div>
<div id="ank">

</div>
</div>
