<h3>this is sidebar </h3>
<% if logged_in? %>
  <%= link_to "ログアウト", logout_path, method: :delete %>
  <%= link_to "マイページ", mypages_path %>
  <%= link_to "記事投稿", new_essay_path %>
  <%= link_to "my_list", "#" %>
  <%= link_to "my_fav", new_essay_path %>
  <%= link_to "つぶやき？", new_essay_path %>

<% else %>
  <%= form_for UserSession.new, url: user_session_path do |f| %>
  <fieldset>
    <legend>Login</legend>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </p>
    <%= f.submit "Login", class: "btn btn-primary" %>
  </fieldset>
<% end %>
  <%= link_to "新規登録", signup_path %>
<% end %>