<div class="sub nav">
<% if logged_in? %>
<div class="name">投稿管理</div>
  <ul class="sub_1">
    <li><%= link_to "記事投稿", new_essay_path %></li>
		<li class="beta"><%= link_to "記事投稿β版", new_essay_path+"?type=b",id: "beta" %></li>
    <li><%= link_to "自分の投稿", my_essay_mypages_path %></li>
    <li><%= link_to "お気に入り", my_list_mypages_path %></li>
  </ul>
    <div class="name">アカウント</div>
  <ul class="act">
    <li><%= link_to "マイページ", {:controller => "mypages", :action => "index"} %></li>
    <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
  </ul>
  <div class="clear"></div>

<% else %>

<div class="name login">ログイン</div>
<div id="top_log" class="nav">
  <table class="logt">
      <%= form_for UserSession.new, url: user_session_path do |f| %>
    <tr>
    <div class="error">
      <%= flash[:alert] %>
    </div>
    </tr>
    <tr>
      <td><%= f.text_field :name ,:class => 'log' ,:placeholder=> "name"%></td>
    </tr>
    <tr>
      <td><%= f.password_field :password ,:class => 'log', :placeholder => "pass"%></td>
    </tr>
  </table>
  <div id="logbt">
    <%= f.submit "Login"%>
  </div>
  <% end %>
</div>
<div class="name login">初めての方</div>
<div id="new">
  <%= link_to "新規登録", signup_path %>
</div>
<div class="clear"></div>
<% end %>

<div class="name" id="q_a">アンケート</div>
  <div id="ank">
    <div id="kaito">
      現在実施していません。
    </div>
  </div>
  <div class="clear"></div>
</div>
