<!DOCTYPE html>
<html>
<head>
  <title>Yamapro</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'pc', media: 'screen and (min-width: 771px)', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'suma1', media: 'screen and (max-width: 770px) and (min-width: 0px)', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'reset', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <%= render "layouts/header" %>
    <article>
      <%= render "layouts/sidebar" %>
      <%= yield %>
    </article>
    <%= render "layouts/footer" %>
  </div>
</body>
</html>
