<%= form_tag("/essays", :multipart => true ) do %>
<p>特集か否か<%= check_box_tag "essay[pickup_f]", "1" %></p>
<div class="dodai">
   <div class="yohaku2">
      <h1 class="pageti">記事投稿</h1>
      <div class="kijiwaku">
         <div class="kito">
            <%= text_field_tag 'essay[title]', "", class: "kijiti", placeholder: "title" %>
            <%= text_area_tag 'essay[text]', "", class: "toran", placeholder: "text" %>
            <%= file_field_tag 'image[0]' %>
         </div>
         <div class="taguwaku">
            <div id="check">
               <input type="radio" name="tou" value="essay" checked>投稿
               <input type="radio" name="tou" value="question" >質問
            </div>
            <p class="ta">タグを選択</p>
            <div class="tawa">
               <ul class="tagu">
               <% @tags.each do |i| %>
               <li>
               <%= check_box_tag 'tags[]', i.id, checked = false, :id => "tags_#{i.id}",:class => "checkbox" %>
               <%= i.name %>
               <% end %>
               </li>
               </ul>
            </div>
         </div>
      </div>
         <%= submit_tag "投稿",:class => "sousin" %>

   </div>

</div>
<% end %>
<div class="clear"></div>
