<%= form_for @essay do |f|%>
  <p>特集か否か<%= f.check_box 'pickup_f' %></p>
  <p>文章タイトル<%= f.text_field 'title' %></p>
  <p>文章本文<%= f.text_area 'text' %></p>
  <p><%= f.submit '送信' %></p>
<% end %>
--------------------
<%= form_tag("/essays", :multipart => true ) do %>
   <p>特集か否か<%= check_box_tag "essay[pickup_f]", "1" %></p>
   <p>文章タイトル<%= text_field_tag 'essay[title]' %></p>
   <p>文章<%= text_area_tag 'essay[text]' %></p>
   <label for="image">画像をアップロード</label>
   <%= file_field_tag 'image' %>
   <%= submit_tag '作成' %>
<% end %>