<div class="dodai">


  <div id="stage">
  	<input type="radio" id="back1" name="gal">
  	<input type="radio" id="back2" name="gal">
  	<input type="radio" id="back3" name="gal">
  	<input type="radio" id="back4" name="gal">
  	<input type="radio" id="back5" name="gal">
  	<input type="radio" id="next1" name="gal">
  	<input type="radio" id="next2" name="gal">
  	<input type="radio" id="next3" name="gal">
  	<input type="radio" id="next4" name="gal">
  	<input type="radio" id="next5" name="gal">
  		<div id="photos">
  			<div id="photo0" class="pic"><img src="/images/bana2.jpeg"></div>
  			<div id="photo1" class="pic"><a href="https://ecpskey.herokuapp.com/"><img src="/images/bana1.jpeg"></a>
  					<label for="back1"><div id="left1" class="b_left"><span>＜</span></div></label>
  					<label for="next1"><div id="right1" class="b_right"><span>＞</span></div></label>
  				</div>
  				<div id="photo2" class="pic"><img src="/images/bana2.jpeg">
  					<label for="back2"><div id="left2" class="b_left"><span>＜</span></div></label>
  					<label for="next2"><div id="right2" class="b_right"><span>＞</span></div></label>
  				</div>
  				<div id="photo3" class="pic"><img src="/images/bana3.jpeg">
  					<label for="back3"><div id="left3" class="b_left"><span>＜</span></div></label>
  					<label for="next3"><div id="right3" class="b_right"><span>＞</span></div></label>
  				</div>
  				<div id="photo4" class="pic"><a href="https://ecpskey.herokuapp.com/"><img src="/images/bana1.jpeg"></a>
  					<label for="back4"><div id="left4" class="b_left"><span>＜</span></div></label>
  					<label for="next4"><div id="right4" class="b_right"><span>＞</span></div></label>
  				</div>
  				<div id="photo5" class="pic"><img src="/images/bana2.jpeg">
  					<label for="back5"><div id="left5" class="b_left"><span>＜</span></div></label>
  					<label for="next5"><div id="right5" class="b_right"><span>＞</span></div></label>
  				</div>
  				<div id="photo6" class="pic"><a href="https://ecpskey.herokuapp.com/"><img src="/images/bana1.jpeg"></a>
  				</div>
  			</div>
  		<div style="padding:9%;"></div>
  	</div>

  <div class="yohaku">
    <div class="minato_dai">
      <% @new_essays.each_with_index do |essay, i| %>
      <div class="minato_new">new!<br>
        <div class="tokusyu_new_ko">
            <a href="/essays/<%= essay.id %>?page=1">
            <div class="mi_ti"><p class="mina_ti">
              <%= essay.title.slice(0,14)%></p>
            </div>
            <div class="topic_p">
              <%= image_tag(url_for(:controller => 'essays',:action => 'get_image', :id => @posts_img[i]), :class => "topic2") %>
            </div>
            <p class="toku_toko">
              <%= strip_tags(essay.text.html_safe.slice(0,75))+" ..." %>
            </p>
          </a>
        </div>
      </div>
      <% end %>
    </div>

  <div class="minato_dai">
    <% @essays.each do |essay| %>
    <div class="minato_ki_ko">
      <a href="/essays/<%= essay.id %>?page=1">
        <div class="mi_ti">
          <!-- <img src="./.jpg" class="tou_ti"> -->
          <%= essay.title.slice(0,10) %>
        </div>
        <p class="mina_toko">
          <%= strip_tags(essay.text.slice(0,160))+" ..." %>
        </p>
      </a>
    </div>
    <% end %>
    <div class="page">
      <%= will_paginate(@essays,:class => "pagenation",:previous_label => "前", :next_label => "次") %>
    </div>
  </div>
</div>
</div>
<div class="clear"></div>
