<ul class="collection with-header">
  <li class="collection-header"><h4>ユーザ投稿</h4></li>
  <% @questions.each do |essay| %>
  <li class="collection-item avatar">
    <a href="/essays/<%= essay.id %>?page=1">
    <%= image_tag(url_for(:controller => 'users',:action => 'image', :id => essay.user.id),:class => "circle")%>
    <span class="title"><%= essay.title.slice(0,30)%></span>
    <p><%= essay.text.slice(0,50) %></p>
    </a>
  </li>
  <% end %>
</ul>
<div class="page">
  <% if !@questions.kind_of?(Array) %>
  <%= will_paginate @questions %>
  <% end %>
</div>