<div class="dodai">
  <div class="yohaku">
    <div id="situ_dai">
      <% @questions.each do |item| %>
      <div class="situ_ko">
        <a href="/essays/<%= item.id%>?page=1">
          <div class="situ_icon">
          <% if item.user.image.present? %>
            <%= image_tag(url_for(:controller => 'users', :action => 'image', :id => item.user.id), :size => '80x80',:class => 'tou_ti')%>
          <% else %>
            <%= image_tag '/images/sample_image.png',:size => '80x80',:class => 'tou_ti'%>
          <% end %>
        </div>
          <%= item.title.slice(0,127) %></a></div>
          <% end %>
          <%= will_paginate @questions %>
        </div>
      </div>
    </div>
    <div class="clear"></div>
