<div class="dodai">
  <div class="yohaku">
    <h2><%= @message %></h2>
    <% @results.each do |item|%>
    <div class="minato_ki_ko">
      <a href="/essays/<%= item.id %>?page=1">
        <div class="mi_ti">
          <%= image_tag(url_for(:controller => 'users',:action => 'image', :id => item.user.id), :class => 'tou_ti')%>
          <p class="mina_ti"><%= item.title %></p>
        </div>
        <p class="mina_toku"><%= item.text.slice(0,60) %></p>
      </a>
    </div>
    <% end %>
  </div>
</div>
<div class="clear"></div>