  <% if admin? then%>
  <a href="" onclick="del(); return false;">削除</a>
  <form name="deletelink" method="POST" id="form"action="/api/delete_essay">
    <input type=hidden name="essay_id" value=<%=@essay.id%>>
  </form>
  <script>
    function del() {
      document.deletelink.submit();
    }
  </script>
  <% end %>
    <br/>
    <div class="row">
      <div class="chip row col s12">
        <%= image_tag(url_for(:controller => 'users', :action => 'image', :id => @essay.user.id))%>
        <%= @user.name %>
      </div>
      <div class="row col s6"><%= @essay.title %></div>
      <div class="row col s6"><%= @essay.created_at.strftime("%Y年 %m月 %d日")%></div>
   </div>

   <div class="card Large">
    <div class="card-image">
      <% if @essay_img != 0 %>
      <%= image_tag(url_for(:controller => 'essays',:action => 'get_image', :id => @essay_img)) %>
      <span class="card-title"><%= @essay.title %></span>
      <% end %>
      <div class="card-content">
        <p><%=@essay.text %></p>
      </div>
    </div>
  </div>
  <% if @now_page_num && @now_page_num > 1 %>
  <a href="/essays/<%= @essay.id%>?page=<%= @now_page_num-1%>">←</a>
  <% end %>
  <% if @now_page_num && @now_page_num < @page_num-1 %>
  <a href="/essays/<%= @essay.id%>?page=<%= @now_page_num+1%>">→</a>
  <% end %>
  <%if logged_in? %>
  <% if @fav %>
  <%= link_to "<i class='material-icons'>grade</i>".html_safe, :controller => "mypages", :action =>"destroy_my_list", :essay_id => @essay.id %>
  <% else %>
  <%= link_to "<i class='material-icons'>grade</i>".html_safe, :controller => "mypages", :action =>"add_my_list" %>
  <% end %>
  <%= form_tag("/comment" ) do %>
  <%= hidden_field_tag 'essay_id', @essay.id %>
  <%= text_area_tag 'text',"", :id => "inkome",class: "materialize-textarea",placeholder: "コメント" %>
  <%= submit_tag '作成',:class => "btn btn-primary",:id => 'submit-btn',style: "cursor: pointer"  %>
  <% end %>
  <% end %>
  <br/>
  <p>コメント(<%= @comments.length %>)</p>
  <ul class="collection">
    <% @comments.each do |comment| %>
    <li class="collection-item avatar">
     <%= image_tag(url_for(:controller => 'users',:action => 'image', :id => comment.user.id),:class => "circle")%>
     <span><%= comment.user.name %></span>
     <textarea readonly class='coco'><%= comment.text %></textarea>
   </li>
   <% end %>
 </ul>  
<%= javascript_include_tag "addjs/comment.js" %>