  <div class="dodai"><div class="yohaku2">
        <div class="kisyowa">
          <div class="kipro">
          <% if @images.length > 0 then %>
            <%= image_tag(url_for(:action => 'get_image', :id => @images.first.id), :size => '80x80')%>
            yamapuro
            <% end %>
          </div>
          <div class="tihibu">
              <p class="day"><%= @essay.created_at%></p>
              <p class="kiti"><%= @essay.title %></p>
            <div class="kijibu">
              <%=@essay.text %>
              </p></div>
              <div class="favowa">
                <div class="fav">
                  <img src="/images/hoshi_y.png" class="fav_icon">★25
                  <%= link_to "お気に入り", :controller => "mypages", :action =>"add_my_list" %>
                </div>
                <div class="sns">
                  <img src="/images/Twitter.png" class="sns_icon">
                  <img src="/images/FB.png" class="sns_icon_fb">
                  <img src="/images/LINE.png" class="sns_icon">
                </div>
              </div>
              <div class="totawa">
                <% @tags.each do |tag| %>
                <div class="tota"><%= tag.name %></div>
                <% end %>
              </div>
          </div>
          <div class="tihibu">
            <div class="kowa">
              <p>コメントを入力</p>
              <%= form_tag("/comment" ) do %>
                <%= hidden_field_tag 'essay_id', @essay.id %>
                <%= text_area_tag 'text',"", :id => "in_kome" %>
                <div class="sousin">
                <%= submit_tag '作成' %>
                </div>
              <% end %>
            </div>
            <div class="kowa">
              <p class="k">コメント<%= @comments.length %></p>
              <div id="komewaku">
                <% @comments.each do |comment| %>
                <div class="kome">
                  <img src="./slime.png" class="koi">yamapuro<br>
                  <p class="coco"><%= comment.text %></p>
            </div>
            <% end %>
            </div>
          </div>
          </div>

        </div>

      </div>
      <div class="clear"></div>
