<table class="attr">
  <tr>
    <th>タイトル</th>
    <td><%= @essay.title %></td>
  </tr>
  <tr>
    <th>本文</th>
    <td><%= @essay.text %></td>
  </tr>
  <tr>
    <th>作成者</th>
    <td><%= @essay.user.name %></td>
</table>

<% @images.each do |image| %>
  <tr>
    <td><%= image_tag(url_for(:action => 'get_image', :id => image.id), :size => '100x100')%></td>
  </tr>
<% end %>

<%= link_to 'つぶやく', "http://twitter.com/share?url=http://"+request.host+"/&text="+@essay.title  %>