  <div class="dodai"><div class="yohaku2">
        <div class="kisyowa">
          <div class="kipro">
          <% if @images.length > 0 then %>
            <%= image_tag(url_for(:action => 'get_image', :id => @images.first.id), :size => '80x80')%>
            <% end %>
          </div>
          <div class="tihibu">
              <p class="day"><%= @essay.created_at.strftime("%Y年 %m月 %d日")%></p>
              <p class="kiti"><%= @essay.title %></p>
            <div class="kijibu">
              <% if @essay.pickup_f?  then %>
                <%=@essay.text.chomp.html_safe %>
              <% else %>
                <textarea readonly="true" rows="50">
                <%= " \n" %><%=@essay.text.chomp.html_safe %>
                </textarea>
              <% end %>
              </div>
              <div class="favowa">
                <div class="fav">
                  <% if @fav %>
                    <%= link_to image_tag("/images/hoshi_y.png", :class => "fav_icon"), :controller => "mypages", :action =>"destroy_my_list", :essay_id => @essay.id %>
                  <% else %>
                    <%= link_to image_tag("/images/hoshi_h.png", :class => "fav_icon"), :controller => "mypages", :action =>"add_my_list" %>
                  <% end %>
                  ★<%= @mylist_num.length %>
                </div>
                <% if @now_page_num && @now_page_num > 1 %>
                <a href="/essays/<%= @essay.id%>?page=<%= @now_page_num-1%>">←</a>
                <% end %>
                <% if @now_page_num && @now_page_num < @page_num-1 %>
                <a href="/essays/<%= @essay.id%>?page=<%= @now_page_num+1%>">→</a>
                <% end %>
                <%= @page_num%>
                <%= @now_page_num %>
                <div class="sns">
                  <% @tweet_text = @essay.title+" \n"+"YamasitaProject "+request.url %>
                  <a href="https://twitter.com/intent/tweet?text=<%= @tweet_text%>">
                    <img src="/images/Twitter.png" class="sns_icon">
                  </a>
                  <img src="/images/FB.png" class="sns_icon_fb">
                  <img src="/images/LINE.png" class="sns_icon">
                </div>
              </div>
              <div class="totawa">
                <% @tags.each do |tag| %>
                <div class="tota"><%= tag.name %></div>
                <% end %>
              </div>
          </div>
          <div class="tihibu">
          <%if logged_in? %>
            <div class="kowa">
              <p>コメントを入力</p>
              <%= form_tag("/comment" ) do %>
                <%= hidden_field_tag 'essay_id', @essay.id %>
                <%= text_area_tag 'text',"", :id => "inkome" %>
                <%= submit_tag '作成',:class => "sousin"  %>
              <% end %>
            </div>
            <% end %>
            <div class="kowa">
              <p class="k">コメント<%= @comments.length %></p>
              <div id="komewaku">
                <% @comments.each do |comment| %>
                <div class="kome">
                   <%= user_image_tag comment.user, {class: "koi"} %>
                  <%= comment.user.name %>
                  <br>
                  <p class="coco"><%= comment.text %></p>
            </div>
            <% end %>
            </div>
          </div>
          </div>

        </div>

      </div>
      <div class="clear"></div>
